spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

server:
  port: 8080

logging:
  level:
    root: INFO
    org.puppit: INFO
    org.springframework.web: WARN

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}

