# Database Configuration
db.url=jdbc:mysql://localhost:3306/db_puppit?useSSL=false&serverTimezone=Asia/Seoul
db.username=user
db.password=user

# AWS S3 Configuration
aws.s3.accessKey=your_aws_access_key
aws.s3.secretKey=your_aws_secret_key
aws.s3.bucketName=your_bucket_name
aws.s3.region=ap-northeast-2

# Kakao Login API
kakao.client.id=your_kakao_client_id
kakao.redirect.uri=http://localhost:3000/oauth/kakao/callback

# IamPort Configuration
iamport.key=your_iamport_key
iamport.secret=your_iamport_secret

